body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #343a40;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    padding: 20px;
}



.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.sidebar a:hover {
    background: #d0d1d2;
    border-radius: 5px;
    padding: 5px;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

button {
    background: #fdce00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #fdce00;
}
